<div
  class="modal-create-todo"
  [class.open]="modalOpen"
  [class.close]="!modalOpen"
>
  <div class="modal-dialog">
    <header class="modal-header">
      <h2>Create Todo</h2>
      <button class="modal-header-close" (click)="toggleModal(false)">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="31.122"
          height="31.122"
          viewBox="0 0 31.122 31.122"
        >
          <path
            id="plus"
            d="M24.131,10.547a.512.512,0,0,0-.507-.508H16.217V2.633a.511.511,0,0,0-.508-.508l-5.161,0a.509.509,0,0,0-.507.507v7.405H2.633a.512.512,0,0,0-.508.508v5.159a.511.511,0,0,0,.508.508H10.04v7.41a.514.514,0,0,0,.507.508l5.161,0a.513.513,0,0,0,.508-.508V16.214h7.407a.511.511,0,0,0,.508-.508Z"
            transform="translate(15.562 -3.005) rotate(45)"
            fill="#fff"
          />
        </svg>
      </button>
    </header>
    <div class="modal-body">
      <form>
        <div class="modal-input-wrap priority">
          <!-- <label for="priority">Priority</label> -->
          <!-- priority -->
          <!-- [disabled]="prioritystate" -->

          <!-- <select [(ngModel)]="newTodo.priority" name="priority">
            <option value="High">High Priority</option>
            <option value="Medium">Medium Priority</option>
            <option value="Low">Low Prioirty</option>
          </select> -->

          <div id="priority-slider">
            <input
              type="radio"
              name="priority"
              id="1"
              value="1"
              ngModel
              required
            />
            <label for="1" data-priority="Low"></label>
            <input
              type="radio"
              name="priority"
              id="2"
              value="2"
              ngModel
              required
            />
            <label for="2" data-priority="Medium"></label>
            <input
              type="radio"
              name="priority"
              id="3"
              value="3"
              ngModel
              required
            />
            <label for="3" data-priority="High"></label>
            <div id="priority-pos"></div>
          </div>
        </div>
        <div class="modal-input-wrap">
          <label for="title">Title</label>
          <input ngModel type="text" name="title" required />
        </div>
        <div class="modal-input-wrap">
          <label for="description">Description</label>
          <input ngModel type="text" name="description" required />
        </div>
        <div class="modal-input-wrap">
          <label for="description">Due Date</label>
          <!-- <input type="text" [(ngModel)]="newTodo.description" name="description" required> -->
        </div>
        <div class="modal-input-wrap">
          <label for="description">Delivery Time</label>
          <!-- <input type="text" [(ngModel)]="newTodo.description" name="description" required> -->
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button class="btn add-todo" (click)="createTodo()">Add Todo</button>
    </div>
  </div>
</div>
