@import "vars";
@import "mixins";

.header {
  position: fixed;
  width: 100%;
  top: 0;
  margin: 0;
  background: $color-white;
  @include add-shadow;

  &-wrap {    
    display: flex;
    justify-content: center;
    margin: 0 $grid-px-15;
    flex-direction: column;
  }

  &-title {
    color: $color-orange-1;
    text-align: center;
  }

  &-burger {
    align-self: flex-end;
    position: absolute;
  }

  &-bar-bottom {
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    @include add-linear-gradient('horizontal', $color-orange, $color-fuschia);
  }
}

.nav {
  position: absolute;
  transform: translateX(100%);
  @include add-linear-gradient('vertical', $color-orange, $color-fuschia);
  width: 100%;
  height: 100%;
  margin-top: 81px;

  &.slide-in {
    -webkit-animation: slide-in 0.5s forwards;
    animation: slide-in 0.5s forwards;
  }

  &.slide-out-left {
    -webkit-animation: slide-out-left 0.5s forwards;
    animation: slide-out-left 0.5s forwards;
  }

  &.slide-out-right {
    -webkit-animation: slide-out-right 0.5s forwards;
    animation: slide-out-right 0.5s forwards;
  }
}



@keyframes slide-in {
  100% {
    transform: translateX(0%);
  }
}

@keyframes slide-out-left {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes slide-out-right {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(100%);
  }
}
