@mixin add-linear-gradient($direction, $color-start, $color-end) {
  @if $direction=='horizontal' {
    background: -moz-linear-gradient(left, $color-start 0%, $color-end 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, $color-start 0%, $color-end 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, $color-start 0%, $color-end 100%);
    /* IE6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$color-start, endColorstr=$color-end, GradientType=1);
  }
}

@mixin font($weight) {
  font-family: 'Roboto', sans-serif;

  @if $weight=='bold' {
    font-weight: 700;
  }

  @if $weight=='regular' {
    font-weight: 400;
  }
}

@mixin header-shadow() {
  -webkit-box-shadow: -2px 8px 7px -3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: -2px 8px 7px -3px rgba(0, 0, 0, 0.15);
  box-shadow: -2px 8px 7px -3px rgba(0, 0, 0, 0.15);
}
