$color-white: #fdfdfd;
$color-true-white: #ffffff;
$color-black: #1b1b1b;
$color-true-black: #000000;
$color-orange: #FEA64C;
$color-fuschia: #FE1E9A;

// :root {
//   --color-white: #fdfdfd;
//   --color-true-white: #ffffff;
//   --color-black: #1b1b1b;
//   --color-true-black: #000000;
//   --color-orange: #FEA64C;
//   --color-fuschia: #FE1E9A;
// }

// $gradient-types:
// horizontal
// vertical
// diagonal-up
// diagonal-down
// radial
