@import 'vars';
@import 'mixins';

.todos-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 7px;
  background: #ffffff;
  @include add-shadow;
}
